<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

<!--
      use-default-filter = true 使用默认的过滤器 @controller @service @Resposity @compoment
    -->
    <context:component-scan base-package="com.jsu.js" use-default-filters="false">
        <!--添加@controller注解扫描-->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--类型转换器-->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
       <property name="converters">
           <list>
               <bean class="com.jsu.js.converter.StringDateConverter"/>
           </list>
       </property>
    </bean>

    <mvc:annotation-driven conversion-service="conversionService"/>



    <!--
        springmvc国际化
        1.加载资源文件
        baseName.properties baseName_en.properties baseName_en_Us.properties
    -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>/WEB-INF/resource/message</value>
            </list>
        </property>
    </bean>

    <!--
        2.设置Locale
            request域 AcceptHeaderLocaleResolver 获得请求作用域中的Locale
                    request.setLocal
            session中设置 SessionLocalResolver
                        在服务器内存中开辟空间Session信息，locale,sessionId）
            cookie中设置 CookieLocaleResolver

        3.在页面显示内容
            springmvc标签
    -->
    <bean class="org.springframework.web.servlet.i18n.SessionLocaleResolver">

    </bean>

</beans>